body{
    background-image: url(assets/vjbg.png);
    background-size:cover;
}

/* horizontal line */

#separator{
    background-color: white;
    height: 3px;
    opacity:inherit;
    margin-top:30px;
}

/* main section */
#SideMenu{
    position: absolute;
    width: 250px;
    height: 980px;
    background-color: rgba(33, 33, 33, 0.96);
    opacity: 1;
}

#MainMenu{
    margin-top: 40px;
    position: absolute;
    width: 1500px;
    height: 900px;
    background-color: rgba(33, 33, 33, 0.75);
    opacity: 1;
}

/* node section */

#jobBtn{
    margin-top: 40px;
    position:absolute;
}

.dropdown-header{
    padding:0px;
    margin-left:10px;
}

.dropdown-menu {
    max-height:500px;
    overflow-y:scroll;
}

#nodeTitle{
    margin-top: 120px;
    position: absolute;
    width: 200px;
    height: 75px;
}

#nodeTrio1{
    margin-top: 220px;
    margin-left: -10px;
    position: absolute;
    width: 490px;
    height: 250px;
    background-color:rgb(156, 206, 253);
}

#nodeTrio2{
    margin-top: 220px;
    margin-left: 480px;
    position: absolute;
    width: 490px;
    height: 250px;
    background-color:rgb(134, 202, 170);
}

#nodeTrio3{
    margin-top: 220px;
    margin-left: 970px;
    width: 490px;
    height: 250px;
    background-color:rgb(207, 162, 196);
}

/* node subsection */

#node1{
    width:60px;
    height:60px;
    margin-top: 50px;
    margin-left: 50px;
    background-repeat:no-repeat;
    background-size:100%;
    text-align:center;
    padding-left: 15px;
    padding-top: 60px;
}

#node2{
    width:60px;
    height:60px;
    margin-top: -60px;
    margin-left: 190px;
    background-repeat:no-repeat;
    background-size:100%;
    text-align:center;
    padding-left: 15px;
    padding-top: 60px;
}

#node3{
    width:60px;
    height:60px;
    margin-top: -60px;
    margin-left: 330px;
    background-repeat:no-repeat;
    background-size:100%;
    text-align:center;
    padding-left: 15px;
    padding-top: 60px;
}

#node4{
    width:60px;
    height:60px;
    margin-top: 50px;
    margin-left: 50px;
    background-repeat:no-repeat;
    background-size:100%;
    text-align:center;
    padding-left: 15px;
    padding-top: 60px;
}

#node5{
    width:60px;
    height:60px;
    margin-top: -60px;
    margin-left: 190px;
    background-repeat:no-repeat;
    background-size:100%;
    text-align:center;
    padding-left: 15px;
    padding-top: 60px;
}

#node6{
    width:60px;
    height:60px;
    margin-top: -60px;
    margin-left: 330px;
    background-repeat:no-repeat;
    background-size:100%;
    text-align:center;
    padding-left: 15px;
    padding-top: 60px;
}

#node7{
    width:60px;
    height:60px;
    margin-top: 50px;
    margin-left: 50px;
    background-repeat:no-repeat;
    background-size:100%;
    text-align:center;
    padding-left: 15px;
    padding-top: 60px;
}

#node8{
    width:60px;
    height:60px;
    margin-top: -60px;
    margin-left: 190px;
    background-repeat:no-repeat;
    background-size:100%;
    text-align:center;
    padding-left: 15px;
    padding-top: 60px;
}

#node9{
    width:60px;
    height:60px;
    margin-top: -60px;
    margin-left: 330px;
    background-repeat:no-repeat;
    background-size:100%;
    text-align:center;
    padding-left: 15px;
    padding-top: 60px;
}


/* nav bar */

#nodeBtn{
    margin-top: 100px;
}

#incomeBtn{
    margin-top:20px;
}

/* ia section */

#iaTitle{
    position:absolute;
    width: 200px;
    height: 75px;
    text-align:right;
}

#iaBox{
    width: 500px;
    height: 350px;
    margin-top:-50px;
    margin-left: 150px;
}

#ia1{
    width:400px;
    height:100px;
    background-color:#54ce73;
    border-width:1px;
    border-color:rgb(73, 73, 73);
    border-style:solid;
    text-align:center;
    text-shadow:1px 1px #000;
    padding:35px;
}
#ia2{
    width:400px;
    height:100px;
    background-color:#e0d35f;
    border-width:1px;
    border-color:rgb(73, 73, 73);
    border-style:solid;
    text-align:center;
    text-shadow:1px 1px #000;
    padding:35px;
}
#ia3{
    width:400px;
    height:100px;
    background-color:#e0d35f;
    border-width:1px;
    border-color:rgb(73, 73, 73);
    border-style:solid;
    text-align:center;
    text-shadow:1px 1px #000;
    padding:35px;

}
